{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Face Recognition ML Project</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Machine Learning project based on face recognition." />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="author" content="Szymon Markiewicz, Jacek Zalewski, Justyna Pokora, Błażej Misiura" />
    </head>
    <body>
        <h1>Face Recognition App</h1>
        <h3>A Machine Learning Project</h3>
        <p>This app is programmed to recognize human faces and output predictions about age and gender.
            To start, choose one of the scenarios below.</p>
        <div class="buttons-container">
            <a href="{% url 'webcam_stream' %}"><button type="button">Realtime face recognition</button></a>
            <a href="{% url 'video_processing_home' %}"><button type="button">Analyze a video</button></a>
            <a href="{% url 'image_collage_home' %}"><button type="button">Process images</button></a>
        </div>
        <noscript>
            For full functionality of this site it is necessary to enable JavaScript.
            Here are the <a href="https://www.enable-javascript.com/">
            instructions how to enable JavaScript in your web browser</a>.
           </noscript>
    </body>
</html>
